* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "silkscreenbold";
  background: url("./Assets/Sprites/super-bomberman-r-bg-black.png") no-repeat center;
  background-color: black;
  background-size: cover;
  color: white;
  text-align: center;
  font-size: 40px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

canvas {
  font-family: "silkscreenbold";
  /* border: 15px solid black; */
  width: 45vw;
}

h1 {
  color: white;
  font-size: 4vh;
  padding: 2vh;
}

h2 {
  font-size: 2vh;
  padding: 2vh;
}

p {
  font-size: 1.5vh;
  padding: 1vh;
}

footer {
  padding: 1vh;
  padding-bottom: 5vh;
}

.player {
  padding: 0 2vw;
}

#instructions {
  display: flex;
  justify-content: center;
}

@media (min-width: 1400px) {
  canvas {
    width: 40vw;
  }
}

@media (max-width: 1200px) {
  canvas {
    width: 60vw;
  }
}

@media (max-width: 800px) {
  canvas {
    width: 70vw;
    padding-bottom: 3vh;
  }
  #instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
