* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'silkscreenbold';
    background: url('./Assets/Sprites/super-bomberman-r-bg.png') no-repeat center;
    background-color: black;
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div {
    /* display: flex;
    justify-content: center; */
}

canvas {
    /* margin-top: 10px; */
    font-family: 'silkscreenbold';
    /* box-shadow: 0px 0px 8800px 2px rgba(0,0,0,0.75); */
    border: 15px solid black;
    /* width: 400px; */
    width: 40vw;
    /* max-width: 500px; */
}

h1 {
    color: white;
    /* padding-top: 10%; */
    font-size: 4vh;
    padding: 5vh;

    /* text-shadow: 0px 0px 50px rgba(0,0,0,0.75); */
    /* -webkit-text-stroke: 5px black; */
}

h2 {
    font-size: 3vh;
    /* padding: 10vh; */
    padding: 2vh;
}

p {
    font-size: 2vh;
    /* padding: 10vh; */
    padding: 1vh;
}

footer {
    padding: 5vh;
    /* background-color: rgba(0,0,0,0.8); */
    /* color: white;
    -webkit-text-stroke: 2px black;
    height: 15%;
    box-shadow: 0px 0px 150px 0px rgba(0,0,0,1); */
    padding-bottom: 10vh;
}

@media (min-width: 1400px) {
    canvas {
        width: 30vw;
    }
}

@media (max-width: 650px) {
    canvas {
        width: 70vw;
    }
}